#keyboard button {
    background-color: #eee;
    border-radius: 3px;
    border: 1px solid #b4b4b4;
    box-shadow: 0 1px 1px rgba(0, 0, 0, .2), 0 2px 0 0 rgba(255, 255, 255, .7) inset;
    color: #333;
    display: inline-block;
    font-size: .85em;
    font-weight: 700;
    line-height: 1;
    white-space: nowrap;
    height: 32px;
    width: 32px;
    margin: auto; /*0 0.1% 0 0.1%;*/
   }
#keyboard button.tabWidth{
  width: 48px;
}
#keyboard button.backSpaceWidth{
  width: 64px;
}
#keyboard button.shiftLockWidth{
  width: 56px;
}
#keyboard button.shiftWidth{
  width: 39px;
}
#keyboard button.shiftWidth2nd{
  width: 88px;
}
#keyboard button.enter{
  width: 38px;
  height: 66px;
}
td{
  padding: 0;
}
table{
  border-spacing: 0; /* Removes the cell spacing via CSS */
  border-collapse: collapse;  /* Optional - if you don't want to have double border where cells touch */
}
